/* smartphones, iPhone, portrait 480x320 phones */

/* ====================================
HEADER 
==================================== */

/* Box Model Hack */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.clearfix {
  clear: both;
}

body {
  background-color: #f7f7f7;
  font-size: 12px;
  font-family: 'Proxima Nova', sans-serif; 
  color: #000;
  height: 100%;
  position: relative;
}

#content-wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  display: block;
  position: relative;
  padding-bottom: 45%;
}

header {
  top: 0;
  height: auto;
  width: 100%;
  background-color: #f7f7f7;
  position: fixed;
  padding-top: 1em;
  z-index: 999;
}

#mobile-nav-container {
 padding-bottom: 1.25em;
 border-bottom-style: solid;
 border-bottom-width: 0.01em;
 border-bottom-color: #d16903;
 width: 100%; 
 text-align: center;
}

#mobile-nav-container #logo {
 display: flex;
 justify-content: center;
 position: relative;
 padding-top: 0.5em;
}

#mobile-nav-container #logo .navbar-logo {
 text-align: center;
}

#mobile-nav-container .main-menu {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 0.5em;
}

#mobile-nav-container .main-menu ul {
  list-style: none;  
}

.main-menu #menu_select ul {
  display: none; 
}

#mobile-nav-container .main-menu li {
  display: inline;
 }
 
#mobile-nav-container .main-menu li img {
  width: 65%; 
  height: auto;
 }

#desktop-nav-container {
 display: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1em;
  text-align: center;
}

#footer a:link {color: #000; text-decoration: none;}
#footer a:visited {color: #000; text-decoration: none;}
#footer a:hover {color: #000; text-decoration: none;}
#footer a:active {color: #000; text-decoration: none;}

#footer ul {
  padding: 10px;
}

#footer ul li {
  display: inline-block;
  list-style: none;
  padding: 0.5em;
}

#footer span {
  font-size: 1em;
  font-weight: 600;
}

.animated-button {
  width: 100%;
  padding: 2.5%;
  text-align: center;
}

.back-button {
  color: #000;
  background: #f7f7f7;
  padding: 8px;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

.back-button:hover  {
  box-shadow: inset 0 100px 0 0 #d16903;
}

.back-button a:hover {color: #d16903;}
.back-button a:link {color: #d16903; text-decoration: none; }
.back-button a:visited {color: #000;}


/* ====================================
ABOUT
==================================== */

#page-text-wrapper {
  padding: 48% 5% 7.5% 5%;
  background-color: #f7f7f7;
  overflow: scroll;
  z-index: -999 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#page-text-wrapper h2 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 2.5%;
}

#page-text-wrapper p {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  padding: 2.5% 5% 0% 5%;
}

#page-text-wrapper a {
  color: #d16903;
  text-decoration: none;

}

.text-wrapper {
 padding: 2.5%;
}

#creative-projects {
 padding: 5%;
}

.textBio {
  width: 100%;
  padding: 5%;
}

#page-video-wrapper {
  padding: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}


#page-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2em;
}

#page-image-wrapper img {
  padding: 1em;
}

.image-wrapper-about img {
  width: 60%;
  height: auto;
  text-align: center;
  overflow-x: hidden; 
}

#image-wrapper {
  display: none;
}

#projects-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 55%;
  width: 100%;
}

#projects-images {
  padding: 10%;
  z-index: -999 !important;
  overflow: hidden;
  padding-top: 2.5%;
}

/* ====================================
PROJECT SPECIFIC PAGES
==================================== */


#projects-image-wrapper {
  text-align: center;
  padding: 2%;
  padding-top: 2%;
  overflow-x: hidden; 
}

#projects-image-wrapper img {
  padding: 1%;
  text-align: center;

}

#projects-image-wrapper a {
  padding: 2%;

} 

*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; position: relative; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 2s ease; -moz-transition: all 2s ease; transition: all 2s ease;}
.loading .flex-viewport {max-height: 200px;}
.flexslider .slides {zoom: 1;}

#carousel li {margin-right: 5px;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
.flex-direction-nav .flex-next {opacity: 1; right: 0;}


/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000001;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000002;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 10000003; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #F3F3F3;
  font-style: normal;
  font-size: 28px;
   }

  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #CCC;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Dosis', sans-serif;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #CCC;
    display: block;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }


/* ====================================
WORK
==================================== */

#imageWrapper {
  display: flex;
  flex-flow: row wrap;
  padding-top: 40%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  overflow: scroll; 
}

#imageWrapper a:link {text-decoration: none; }
#imageWrapper a:visited {text-decoration: none; }
#imageWrapper a:hover {text-decoration: none; }
#imageWrapper a:active {text-decoration: none; }

.projects {
  padding: 0.5em;
}

.stillImages {
  padding: 0.5em;
}

.movingImages {
  padding: 0.5em;
}

.movingImagesProjects {
  padding: 0.5em;
}

#imageWrapper img {
  border: #fff 1px solid;
  border-radius: 50%;
  overflow: hidden;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
  filter: grayscale(100%);
  transition: all 500ms ease-in-out;
}

#imageWrapper .preview {
  position: relative;
}

#imageWrapper .after {
  border-radius: 50%;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.7);
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transition: all 500ms ease-in-out;
}

#imageWrapper .preview h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  margin-top: 6.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  border-radius: 50%;
  color:  #fff;
}

#imageWrapper .preview:hover .after {
  background: #d16903;
}

/* ====================================
CONTACT
==================================== */

#contact-image {
  width: 100%;
  padding-top: 40%;
  text-align: center;
  overflow: scroll;
}

#contact-text-wrapper {
  text-align: center;
  padding: 5% 5% 0% 5%;
}

#contact-text-wrapper p {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.25em;
}

#contact-text-wrapper a {
  color: #d16903;
  text-decoration: none;
}

.contact-wrapper-text a:link {color: #d16903; text-decoration: none; }
.contact-wrapper-text a:visited {color: #d16903; text-decoration: none; }
.contact-wrapper-text a:hover {color: #d16903; text-decoration: none; }
.contact-wrapper-text a:active {color: #d16903; text-decoration: none; }

.seagullText {
  width: 100%;
  display: flex;
  padding: 5% 20%;
}

/* ====================================
MEDIA QUERIES
====================================


@media (orientation: landscape) {

#mobile-nav-container {
 padding-bottom: 0.75em;
}

#mobile-nav-container #logo .navbar-logo {
 height: 20%;
}

#page-text-wrapper {
  padding-top: 25%;
}

.navbar-logo img {
 width: 70%; 
}

#projects-content-wrapper {
  padding-top: 20%;
}

#projects-text-wrapper {
  padding: 2.5%;
}

.projects-title-wrapper {
  padding: 0.25%;
}

.projects-text-wrapper {
  padding: 5%;
}

#projects-image-wrapper {
  padding: 0% 20% 0% 20%;
}

#image-wrapper {
  padding-top: 35%;
}

.navbar-logo img {
 width: 70%; 
}

#projects-video-wrapper {
  padding: 0%;
}

#projects-images {
  padding: 0% 20% 0% 20%;
}

#contact-text-wrapper {
  padding: 5%;
}

#footer {
  padding-top: 0em;
}

}

/* iPads and tablets ----------- 
@media only screen and (min-width : 400px) {

header {
 padding: 1em;
}

#mobile-nav-container {
  display: none;
}
 
#desktop-nav-container {
 width: 100%;
 height: auto;
 display: flex;
 padding: 1em;
 clear: both;
 border-bottom-style: solid;
 border-bottom-width: 0.01em;
 border-bottom-color: #d16903;
}

#desktop-nav-container .navbar-logo {
  justify-content: left;
  height: auto;
  width: 70%;
  padding-left: 1.5em;
}

#desktop-nav-container .main-menu {
  display: flex;
  justify-content: right;
  text-align: right;
  position: relative;
  list-style: none;
  height: auto;
  width: 60%;
  right: 0;
  display: inline;
}

#desktop-nav-container .main-menu ul {
  list-style: none;  
} 

#desktop-nav-container .main-menu li {
  display: inline;
}

#desktop-nav-container .main-menu li img {
  width: 30%; 
  height: auto;
  padding: 0.75em;
 }

#contact-image {
  padding-top: 30%;
}

#contact-image img {
  width: 40%;
}
}



/* iPads and tablets ----------- */
@media only screen and (min-width : 600px) {

header {
  padding: 0.75em;
}

#mobile-nav-container {
  display: none;
}
 
#desktop-nav-container {
 width: 100%;
 height: auto;
 display: flex;
 padding: 1em;
 padding-top: 1.5em;
 clear: both;
 border-bottom-style: solid;
 border-bottom-width: 0.01em;
 border-bottom-color: #d16903;
}

#desktop-nav-container .navbar-logo {
  justify-content: left;
  height: auto;
  width: 70%;
  padding-left: 1.75em;
}

#desktop-nav-container .main-menu {
  display: flex;
  justify-content: right;
  text-align: right;
  position: relative;
  list-style: none;
  height: auto;
  width: 100%;
  right: 0;
  display: inline;
}

#desktop-nav-container .main-menu ul {
  list-style: none;  
} 

#desktop-nav-container .main-menu li {
  display: inline;
}

#desktop-nav-container .main-menu li img {
  width: 20%; 
  height: auto;
  padding: 1em;
 }

 #content-wrapper {
  padding-bottom: 25%;
}

#page-text-wrapper {
  text-align: center;
  padding: 15% 5% 0% 5%;
}

#contact-text-wrapper {
  padding: 0%;
}

#contact-image {
  padding-top: 15%;
}

.text-wrapper {
  padding: 0%;
}

#creative-projects {
  padding-top: 7.5%;
  text-align: center;
}

.textBio {
  padding: 0% 12.5% 0% 12.5%;
  text-align: center;
}

#imageWrapper {
  padding-top: 15%;
}

#animated-button {
  padding-top: 1.5em;
}

#footer {
  padding-top: 5%;
}

#projects-content-wrapper {
  padding-top: 30%;
  padding-bottom: 5%;
}

.projects-text-wrapper {
  padding: 2.5%;
}

#projects-images {
  padding: 5% 25% 5% 25%;
}

#projects-image-wrapper {
  padding-top: 0%;
}

.image-wrapper-about img {
  width: 40%;
  padding-top: 5%;
}

#animated-button {
  padding-top: 1.5em;
}
}

/* iPads and tablets ----------- */
@media only screen and (min-width : 600px) and (orientation: landscape) {

#projects-image-wrapper {
 padding: 0% 10% 0% 10%;
}

#projects-content-wrapper {
  padding-top: 25%;
  padding-bottom: 5%;
}
}

@media only screen and (min-width : 800px) {
 #desktop-nav-container .main-menu li img {
  width: 15%; 
  padding: 1.25em;
 }

#desktop-nav-container .navbar-logo {
  width: 50%;
}

}

@media only screen and (min-width : 1000px) {
 #desktop-nav-container .main-menu li img {
  width: 12.5%; 

 }

@media only screen and (min-width : 1200px) {
 #desktop-nav-container .main-menu li img {
  width: 10%; 
}
}
